.app{
    height: 100vh;
    overflow: hidden;
}

.header{
    height: 10vh;
}

.header-f{
    height: 15vh;
}

.content{
    height: 90vh;
    overflow-y: auto;
    padding: 1%;
}

.content-f{
    height: 85vh;
    overflow-y: auto;
    padding: 1%;
}