.row-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pic{
    width: 23%;
    margin: 1%;
}

.big-pic{
    width: 48%;
    margin: 1%;
}

.big-pic img{
    width: 100%;
}
.pic img{
    width: 100%;
}

h1{
    color: aliceblue;
    text-align: center;
}

.modal-dialog{
    max-width: 100% !important;
}

@media (min-width: 576px){
    .modal-dialog{
        max-width: 1000px !important;
    }
}