<div class="container-lg">leader
    <div class="deck-row">
        <div *ngFor="let userDeck of deckService.deckList" class="deck-container">
            <div class="deck-box">
                <div class="scene">
                    <div class="box">
                        <div *ngIf="userDeck.deck.image != null" class="box__face box__face--front" style="background-image:url(data:image/png;base64,{{userDeck.deck.image}}) ;">            
                        </div>
                        <div  *ngIf="userDeck.deck.image == null" class="box__face box__face--front {{userDeck.leader.color}}">
                            <img  src="./assets/Img/{{userDeck.leader.setId}}/{{userDeck.leader.number}}.png" alt="{{userDeck.deck.name}}">
                        </div>
                        <div class="box__face box__face--back"></div>
                        <div class="box__face box__face--right 
                        {{userDeck.leader.color.split('-').length > 1 ?
                     userDeck.leader.color.split('-')[1]: 
                     userDeck.leader.color }}">
                            <p class="deck-name">
                                {{userDeck.deck.name}}
                            </p>
                        </div>
                        <div class="box__face box__face--left"></div>
                        <div class="box__face box__face--top {{userDeck.leader.color}}">
                            {{userDeck.deck.format}}
                        </div>
                        <div class="box__face box__face--bottom"></div>
                    </div>
                </div>
                <div class="deck-text">
                    <div >
                    <button class="btn btn-light" (click)="modify(userDeck)">Modify</button>
                    <button class="btn btn-light" style="float:right">Stat</button>
                </div>
                <div style="margin-top: 5%;">
                    <button class="btn btn-light" (click)="cardList(userDeck)">Card List</button>
                    <button class="btn btn-light" style="float:right">
                        {{cardCounting(userDeck.cardList)}}
                    </button>  
                </div>
                    <div class="deck-desc">
                        <h5>DESC:</h5>
                        <p>{{userDeck.deck.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="deck-container">
            <div class="deck-box" (click)="createDeck()">
                <div class="scene">
                    <div class="box">
                        <div class="box__face box__face--front">Image</div>
                        <div class="box__face box__face--back"></div>
                        <div class="box__face box__face--right">
                            <p class="deck-name">
                                Deck's name
                            </p>
                        </div>
                        <div class="box__face box__face--left"></div>
                        <div class="box__face box__face--top">Format</div>
                        <div class="box__face box__face--bottom"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>