<div class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
        <img src="assets/Img/{{card.setId}}/{{card.number}}.png" alt="{{card.name}}">
    </div>
    <div class="face front ">
        <h5><b>Color: </b> <span> {{card.color}} </span> </h5>
        <h5><b>Card Type: </b>{{card.cardType}}</h5>
        <h5 style="height: auto"><b>Type: </b>{{card.type.replace('/',',')}}</h5>
        <h5 *ngIf="card.role != '0'"><b>Role: </b> {{card.role}} </h5>
        <div class="description" [innerHTML]="description">
        </div>
        <div class="row-det">
            <div class="col-2"><b>Cost: </b> {{card.cost}}</div>
            <div *ngIf="card.cardType == 'Character' || card.cardType == 'Leader' " class="col-5" style="text-align: center;"><b>Power: </b> {{card.power}}</div>
            <div *ngIf="card.counter > 0" class="col-5" style="text-align: right;"><b>Counter: </b> {{card.counter}}</div>
        </div>
        <p class="number">
            <b>{{card.setId}}</b><span>: {{this.card.number.substring(0,3)}}</span>
        </p>
    </div>

</div>